body{
    background-color: #fff;
    color: #666;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;


}

#cabezera  {
    background-color:darkgray;
}

#cabezera h1{
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    margin: 0px;
}

nav {
    background-color:crimson;
}

nav  ul {
    list-style: none;
    padding: 0px;
    text-align: center;
    margin: 0px;
}

nav ul li {
    display: inline;
}

nav ul li a{
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
    padding: 8px 10px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: darkgray;
    color: white;
}

#cont-img{
    background-image: url(./img/depositphotos_25344733-stock-photo-sunrise-at-the-beach.jpg);
    height: 280px;
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
}

#cont-img .imagen h1{

    color: white;
    text-align: center;
    font-size: 45px;
    padding-top: 25px;
    margin: 0px;

}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}


#acont-principal{
    float: left;
    width: 70%;
    box-sizing: border-box;
    padding: 0px  30px;

}


#barra-lateral{

    float: right;
    width: 30%;
    background-color:crimson;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;

}


#part-inf{
    background-color:darkgray;
    text-align: center;
    font-size: 18px;
    color: #fff;
    padding: 5px;
    margin-top: 50px;
}

@media(max-width: 650px){
    #acont-principal{

        width: 100%;
        float: none;

    }

    #barra-lateral{

        width: 100%;
        float: none;


    }
}